@import "tailwindcss";

:root {
  --color-primary: #1a1a1a; /* Dark, almost black */
  --color-secondary: #f4f4f4; /* Light grey */
  --color-accent1: #ff007f; /* Vibrant pink/magenta */
  --color-accent2: #00f0ff; /* Bright cyan */
  --color-neutral-100: #ffffff; /* White */
  --color-neutral-200: #e0e0e0; /* Lighter grey */
  --color-neutral-300: #c0c0c0; /* Medium grey */
  --color-neutral-400: #808080; /* Darker grey */
  --color-neutral-500: #555555; /* Even darker grey */
  --color-neutral-600: #333333; /* Dark grey */
  --color-neutral-700: #222222; /* Very dark grey */
  --color-neutral-800: #111111; /* Almost black */
  --color-neutral-900: #000000; /* Black */
}

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
}

@keyframes slideDown {
    0% {
        transform: translateY(-100%);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

.animate-slideDown {
    animation: slideDown 0.5s ease-out forwards;
}

@keyframes slideUp {
    0% {
        transform: translateY(20px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

.animate-slideUp {
    animation: slideUp 0.3s ease-out forwards;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.animate-fadeIn {
    animation: fadeIn 0.2s ease-out forwards;
}

dialog::backdrop {
    background-color: transparent; /* No backdrop unless explicitly requested */
}
