@import "tailwindcss";

:root {
  --color-primary: #000000; /* Black */
  --color-secondary: #f4f4f4; /* Light grey */
  --color-accent1: #ff007f; /* Vibrant pink/magenta */
  --color-accent2: #00f0ff; /* Bright cyan */

  /* Gradientes para botones */
  --gradient-primary: #000000; /* Negro sólido para el botón primario */
<<<<<<< HEAD
  --gradient-secondary: linear-gradient(to right, #a0a0a0, #ffffff); /* Gris más claro a blanco */
=======
  --gradient-secondary: linear-gradient(to right, #ffffff, #e0e0e0); /* Blanco a gris claro */
>>>>>>> c32cb53 (primer commit)
  --gradient-danger: linear-gradient(to right, #dc3545, #c82333); /* Rojo oscuro a rojo más claro */
  --gradient-success: linear-gradient(to right, #28a745, #218838); /* Verde oscuro a verde más claro */
  --gradient-info: linear-gradient(to right, #17a2b8, #138496); /* Azul oscuro a azul más claro */

  --color-neutral-100: #ffffff; /* White */
  --color-neutral-200: #e0e0e0; /* Lighter grey */
  --color-neutral-300: #c0c0c0; /* Medium grey */
  --color-neutral-400: #808080; /* Darker grey */
  --color-neutral-500: #555555; /* Even darker grey */
  --color-neutral-600: #333333; /* Dark grey */
  --color-neutral-700: #222222; /* Very dark grey */
  --color-neutral-800: #111111; /* Almost black */
  --color-neutral-900: #000000; /* Black */
<<<<<<< HEAD

  /* Clases de gradiente personalizadas */
  .btn-gradient-primary {
      background-image: var(--gradient-primary);
  }

  .btn-gradient-danger {
      background-image: var(--gradient-danger);
  }

  .btn-gradient-success {
      background-image: var(--gradient-success);
  }

  .btn-gradient-info {
      background-image: var(--gradient-info);
  }

.btn-gradient-gray-to-white {
    background-image: linear-gradient(to right, #000000, #808080); /* Negro a gris */
}
=======
>>>>>>> c32cb53 (primer commit)
}

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
}

@keyframes slideDown {
    0% {
        transform: translateY(-100%);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

.animate-slideDown {
    animation: slideDown 0.5s ease-out forwards;
}

@keyframes slideUp {
    0% {
        transform: translateY(20px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

.animate-slideUp {
    animation: slideUp 0.3s ease-out forwards;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.animate-fadeIn {
    animation: fadeIn 0.2s ease-out forwards;
}

<<<<<<< HEAD
.btn-gradient-gray-to-white {
    background-image: linear-gradient(to right, #a0a0a0, #ffffff);
}

=======
>>>>>>> c32cb53 (primer commit)
dialog::backdrop {
    background-color: transparent; /* No backdrop unless explicitly requested */
}
